@charset "UTF-8";
@keyframes remplissage {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@font-face {
  font-family: "roboto";
  src: url("Roboto/Roboto-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "roboto-light";
  src: url("Roboto/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Shrikhand-Regular";
  src: url("Shrikhand/Shrikhand-Regular.ttf") format("truetype");
}
body {
  box-sizing: border-box;
  margin: 0;
  font-family: "roboto", Arial, Helvetica, sans-serif;
}

.carte__image {
  position: relative;
}
.carte__image--new {
  font-weight: 200;
  text-align: center;
  padding: 5px 0px 5px 0px;
  height: 10%;
  width: 25%;
  background-color: #99e2d0;
  border-radius: 3px;
  position: absolute;
  right: 25px;
  top: 10px;
}

h3 {
  margin: 0;
  padding-top: 20px;
}

.carte {
  background-color: #fff;
  border-radius: 30px;
  height: 300px;
  margin-bottom: 27px;
  max-width: 500px;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}
.carte:hover {
  transform: scale(1.1);
  opacity: 0.9;
  z-index: 1;
}
.carte a {
  text-decoration: none;
  color: black;
}
.carte__image {
  height: 200px;
  overflow: hidden;
  border-radius: 30px 30px 0px 0px;
}
.carte__image img {
  max-width: 100%;
}
.carte__infos {
  height: 100px;
  position: relative;
  padding-left: 3%;
  transition: all 1s;
}
.carte__infos__coeur {
  width: 40px;
  height: 40px;
  background-image: url(../icones/heart-regular.svg);
  background-repeat: no-repeat;
  position: absolute;
  right: 23px;
  top: 15%;
}
.carte__infos__coeur:hover {
  background: linear-gradient(175deg, #FF79DA, #9356DC);
  animation: remplissage 1.5s ease-out;
  mask-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj48IS0tISBGb250IEF3ZXNvbWUgUHJvIDYuMS4xIGJ5IEBmb250YXdlc29tZSAtIGh0dHBzOi8vZm9udGF3ZXNvbWUuY29tIExpY2Vuc2UgLSBodHRwczovL2ZvbnRhd2Vzb21lLmNvbS9saWNlbnNlIChDb21tZXJjaWFsIExpY2Vuc2UpIENvcHlyaWdodCAyMDIyIEZvbnRpY29ucywgSW5jLiAtLT48cGF0aCBkPSJNMCAxOTAuOVYxODUuMUMwIDExNS4yIDUwLjUyIDU1LjU4IDExOS40IDQ0LjFDMTY0LjEgMzYuNTEgMjExLjQgNTEuMzcgMjQ0IDg0LjAyTDI1NiA5NkwyNjcuMSA4NC4wMkMzMDAuNiA1MS4zNyAzNDcgMzYuNTEgMzkyLjYgNDQuMUM0NjEuNSA1NS41OCA1MTIgMTE1LjIgNTEyIDE4NS4xVjE5MC45QzUxMiAyMzIuNCA0OTQuOCAyNzIuMSA0NjQuNCAzMDAuNEwyODMuNyA0NjkuMUMyNzYuMiA0NzYuMSAyNjYuMyA0ODAgMjU2IDQ4MEMyNDUuNyA0ODAgMjM1LjggNDc2LjEgMjI4LjMgNDY5LjFMNDcuNTkgMzAwLjRDMTcuMjMgMjcyLjEgLjAwMDMgMjMyLjQgLjAwMDMgMTkwLjlMMCAxOTAuOXoiLz48L3N2Zz4=);
  mask-size: 100% 100%;
  -webkit-mask-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj48IS0tISBGb250IEF3ZXNvbWUgUHJvIDYuMS4xIGJ5IEBmb250YXdlc29tZSAtIGh0dHBzOi8vZm9udGF3ZXNvbWUuY29tIExpY2Vuc2UgLSBodHRwczovL2ZvbnRhd2Vzb21lLmNvbS9saWNlbnNlIChDb21tZXJjaWFsIExpY2Vuc2UpIENvcHlyaWdodCAyMDIyIEZvbnRpY29ucywgSW5jLiAtLT48cGF0aCBkPSJNMCAxOTAuOVYxODUuMUMwIDExNS4yIDUwLjUyIDU1LjU4IDExOS40IDQ0LjFDMTY0LjEgMzYuNTEgMjExLjQgNTEuMzcgMjQ0IDg0LjAyTDI1NiA5NkwyNjcuMSA4NC4wMkMzMDAuNiA1MS4zNyAzNDcgMzYuNTEgMzkyLjYgNDQuMUM0NjEuNSA1NS41OCA1MTIgMTE1LjIgNTEyIDE4NS4xVjE5MC45QzUxMiAyMzIuNCA0OTQuOCAyNzIuMSA0NjQuNCAzMDAuNEwyODMuNyA0NjkuMUMyNzYuMiA0NzYuMSAyNjYuMyA0ODAgMjU2IDQ4MEMyNDUuNyA0ODAgMjM1LjggNDc2LjEgMjI4LjMgNDY5LjFMNDcuNTkgMzAwLjRDMTcuMjMgMjcyLjEgLjAwMDMgMjMyLjQgLjAwMDMgMTkwLjlMMCAxOTAuOXoiLz48L3N2Zz4=);
  -webkit-mask-size: 100% 100%;
  -moz-mask-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj48IS0tISBGb250IEF3ZXNvbWUgUHJvIDYuMS4xIGJ5IEBmb250YXdlc29tZSAtIGh0dHBzOi8vZm9udGF3ZXNvbWUuY29tIExpY2Vuc2UgLSBodHRwczovL2ZvbnRhd2Vzb21lLmNvbS9saWNlbnNlIChDb21tZXJjaWFsIExpY2Vuc2UpIENvcHlyaWdodCAyMDIyIEZvbnRpY29ucywgSW5jLiAtLT48cGF0aCBkPSJNMCAxOTAuOVYxODUuMUMwIDExNS4yIDUwLjUyIDU1LjU4IDExOS40IDQ0LjFDMTY0LjEgMzYuNTEgMjExLjQgNTEuMzcgMjQ0IDg0LjAyTDI1NiA5NkwyNjcuMSA4NC4wMkMzMDAuNiA1MS4zNyAzNDcgMzYuNTEgMzkyLjYgNDQuMUM0NjEuNSA1NS41OCA1MTIgMTE1LjIgNTEyIDE4NS4xVjE5MC45QzUxMiAyMzIuNCA0OTQuOCAyNzIuMSA0NjQuNCAzMDAuNEwyODMuNyA0NjkuMUMyNzYuMiA0NzYuMSAyNjYuMyA0ODAgMjU2IDQ4MEMyNDUuNyA0ODAgMjM1LjggNDc2LjEgMjI4LjMgNDY5LjFMNDcuNTkgMzAwLjRDMTcuMjMgMjcyLjEgLjAwMDMgMjMyLjQgLjAwMDMgMTkwLjlMMCAxOTAuOXoiLz48L3N2Zz4=);
  -moz-mask-size: 100% 100%;
}
.carte__infos p {
  font-family: "roboto-light";
}

@keyframes loading-body {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.index {
  transform: scale(0);
  animation: loading-body 2s 2.5s;
  animation-fill-mode: forwards;
}

@keyframes loading-spinner {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes loading-arrows {
  0% {
    transform: translate(0px);
  }
  25% {
    transform: translate(30px);
  }
  75% {
    transform: translate(-30px);
  }
  100% {
    transform: translate(0px);
  }
}
@keyframes jumping-arrows {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(5px);
  }
}
.loading {
  transform: scale(1.6);
  text-align: center;
  transform-origin: center;
  position: absolute;
  top: 50%;
  left: calc(50% - 98px);
  animation: loading-spinner 2s 2.5s;
  animation-fill-mode: forwards;
}
.loading__spinner {
  display: flex;
  justify-content: space-between;
  animation: loading-arrows linear 1.5s infinite;
}
.loading__spinner i {
  transform: scale(2);
  /* animation: jumping-arrows 1s infinite alternate-reverse; */
}

header {
  margin: 20px 0px 20px 0px;
}

.header__retour {
  color: black;
  position: absolute;
  top: 45px;
  left: 40px;
  transform: scale(2.5);
}
@media screen and (max-width: 410px) {
  .header__retour {
    transform: scale(2);
    left: 20px;
  }
}
.header__logo {
  text-align: center;
  margin-bottom: 20px;
  transform: scale(0.7);
}
@media screen and (max-width: 410px) {
  .header__logo {
    transform: scale(0.6);
  }
}

.form__recherche {
  width: 100%;
  height: 100px;
  background-color: #eaeaea;
  background: linear-gradient(to top, #eaeaea, #eaeaea 93%, #cfcfcf 99%);
  font-size: x-large;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0px;
}
.form__recherche i {
  margin-right: 30px;
}
.form__btn {
  color: white;
  background: linear-gradient(175deg, #FF79DA, #9356DC);
  border-radius: 50px;
  margin-top: 20px;
  border: none;
  padding: 30px;
  cursor: pointer;
  font-size: larger;
  box-shadow: 5px 5px 5px #eaeaea;
  transition: all 0.5s ease-in-out;
}
.form__btn:hover {
  transform: scale(1.15);
  opacity: 0.8;
  box-shadow: 10px 10px 10px #eaeaea;
}

form div {
  background-color: #f6f6f6;
  text-align: center;
  padding: 40px 40px 50px 40px;
  font-size: x-large;
}

.footer {
  background-color: #353535;
  display: flex;
  flex-direction: column;
  padding: 20px 32px 20px 32px;
  font-size: large;
}
.footer__logo {
  filter: invert(1);
  margin-bottom: 20px;
}
.footer a {
  color: #fff;
  text-decoration: none;
  margin-bottom: 10px;
}
.footer i {
  margin-right: 5px;
  width: 23px;
}

.fonctionnement {
  padding: 20px 65px 20px 65px;
}
.fonctionnement__fonction {
  padding: 20px;
  border-radius: 50px;
  font-size: x-large;
  margin-bottom: 20px;
  border: none;
  max-width: 655px;
  box-shadow: 5px 5px 10px rgb(228, 216, 216);
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  position: relative;
}
@media screen and (min-width: 787px) {
  .fonctionnement__fonction {
    margin: auto;
    margin-bottom: 20px;
    min-width: 655px;
  }
}
.fonctionnement__fonction i {
  /* scale: 200%; */
  color: gray;
  display: inline;
}
.fonctionnement__fonction__num {
  display: block;
  background: #9356DC;
  color: #fff;
  font-size: large;
  padding: 16px 22px 16px 22px;
  border-radius: 50px;
  margin-right: 10px;
  position: absolute;
  left: -2%;
  top: 8%;
}
@media screen and (max-width: 535px) {
  .fonctionnement__fonction__num {
    font-size: medium;
    padding: 12px 17px 12px 17px;
    top: 16%;
  }
}
@media screen and (max-width: 420px) {
  .fonctionnement__fonction__num {
    padding: 6px 10px 6px 10px;
    top: 22%;
  }
}
@media screen and (max-width: 370px) {
  .fonctionnement__fonction__num {
    top: 30%;
  }
}
.fonctionnement__fonction__option {
  display: inline;
  margin-left: 15px;
}
@media screen and (max-width: 535px) {
  .fonctionnement__fonction__option {
    font-size: medium;
  }
}
.fonctionnement__fonction:hover {
  transform: scale(1.15);
  opacity: 0.9;
}
.fonctionnement__fonction:hover i {
  color: #9356DC;
}

.fonctionnement section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.restaurants {
  padding: 20px 32px 20px 32px;
  background-color: #f6f6f6;
}
.restaurants section {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 560px) {
  .restaurants section {
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.top_photo {
  width: 100%;
  max-height: 300px;
  min-height: 300px;
  overflow: hidden;
}
.top_photo img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

main {
  background-color: #f6f6f6;
}

@keyframes anim-offre {
  0% {
    transform: translateY(30px);
    opacity: 0.1;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
.menu {
  padding: 20px 32px 20px 32px;
  border-radius: 50px 50px 0px 0px;
  background-color: #f6f6f6;
  position: relative;
  top: -50px;
}
.menu__titre {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.menu__titre h1 {
  font-family: "Shrikhand-Regular", Arial, Helvetica, sans-serif;
}
.menu__titre__coeur {
  width: 30px;
  height: 30px;
  background-image: url(../icones/heart-regular.svg);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  right: 5%;
  top: 0%;
  /* Recadrage du coeur sur petite résolutions */
}
@media screen and (max-width: 540px) {
  .menu__titre__coeur {
    right: -1%;
  }
}
.menu__titre__coeur:hover {
  background: linear-gradient(175deg, #FF79DA, #9356DC);
  animation: remplissage 1.5s ease-out;
  mask-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj48IS0tISBGb250IEF3ZXNvbWUgUHJvIDYuMS4xIGJ5IEBmb250YXdlc29tZSAtIGh0dHBzOi8vZm9udGF3ZXNvbWUuY29tIExpY2Vuc2UgLSBodHRwczovL2ZvbnRhd2Vzb21lLmNvbS9saWNlbnNlIChDb21tZXJjaWFsIExpY2Vuc2UpIENvcHlyaWdodCAyMDIyIEZvbnRpY29ucywgSW5jLiAtLT48cGF0aCBkPSJNMCAxOTAuOVYxODUuMUMwIDExNS4yIDUwLjUyIDU1LjU4IDExOS40IDQ0LjFDMTY0LjEgMzYuNTEgMjExLjQgNTEuMzcgMjQ0IDg0LjAyTDI1NiA5NkwyNjcuMSA4NC4wMkMzMDAuNiA1MS4zNyAzNDcgMzYuNTEgMzkyLjYgNDQuMUM0NjEuNSA1NS41OCA1MTIgMTE1LjIgNTEyIDE4NS4xVjE5MC45QzUxMiAyMzIuNCA0OTQuOCAyNzIuMSA0NjQuNCAzMDAuNEwyODMuNyA0NjkuMUMyNzYuMiA0NzYuMSAyNjYuMyA0ODAgMjU2IDQ4MEMyNDUuNyA0ODAgMjM1LjggNDc2LjEgMjI4LjMgNDY5LjFMNDcuNTkgMzAwLjRDMTcuMjMgMjcyLjEgLjAwMDMgMjMyLjQgLjAwMDMgMTkwLjlMMCAxOTAuOXoiLz48L3N2Zz4=);
  mask-size: 100% 100%;
  -webkit-mask-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj48IS0tISBGb250IEF3ZXNvbWUgUHJvIDYuMS4xIGJ5IEBmb250YXdlc29tZSAtIGh0dHBzOi8vZm9udGF3ZXNvbWUuY29tIExpY2Vuc2UgLSBodHRwczovL2ZvbnRhd2Vzb21lLmNvbS9saWNlbnNlIChDb21tZXJjaWFsIExpY2Vuc2UpIENvcHlyaWdodCAyMDIyIEZvbnRpY29ucywgSW5jLiAtLT48cGF0aCBkPSJNMCAxOTAuOVYxODUuMUMwIDExNS4yIDUwLjUyIDU1LjU4IDExOS40IDQ0LjFDMTY0LjEgMzYuNTEgMjExLjQgNTEuMzcgMjQ0IDg0LjAyTDI1NiA5NkwyNjcuMSA4NC4wMkMzMDAuNiA1MS4zNyAzNDcgMzYuNTEgMzkyLjYgNDQuMUM0NjEuNSA1NS41OCA1MTIgMTE1LjIgNTEyIDE4NS4xVjE5MC45QzUxMiAyMzIuNCA0OTQuOCAyNzIuMSA0NjQuNCAzMDAuNEwyODMuNyA0NjkuMUMyNzYuMiA0NzYuMSAyNjYuMyA0ODAgMjU2IDQ4MEMyNDUuNyA0ODAgMjM1LjggNDc2LjEgMjI4LjMgNDY5LjFMNDcuNTkgMzAwLjRDMTcuMjMgMjcyLjEgLjAwMDMgMjMyLjQgLjAwMDMgMTkwLjlMMCAxOTAuOXoiLz48L3N2Zz4=);
  -webkit-mask-size: 100% 100%;
  -moz-mask-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj48IS0tISBGb250IEF3ZXNvbWUgUHJvIDYuMS4xIGJ5IEBmb250YXdlc29tZSAtIGh0dHBzOi8vZm9udGF3ZXNvbWUuY29tIExpY2Vuc2UgLSBodHRwczovL2ZvbnRhd2Vzb21lLmNvbS9saWNlbnNlIChDb21tZXJjaWFsIExpY2Vuc2UpIENvcHlyaWdodCAyMDIyIEZvbnRpY29ucywgSW5jLiAtLT48cGF0aCBkPSJNMCAxOTAuOVYxODUuMUMwIDExNS4yIDUwLjUyIDU1LjU4IDExOS40IDQ0LjFDMTY0LjEgMzYuNTEgMjExLjQgNTEuMzcgMjQ0IDg0LjAyTDI1NiA5NkwyNjcuMSA4NC4wMkMzMDAuNiA1MS4zNyAzNDcgMzYuNTEgMzkyLjYgNDQuMUM0NjEuNSA1NS41OCA1MTIgMTE1LjIgNTEyIDE4NS4xVjE5MC45QzUxMiAyMzIuNCA0OTQuOCAyNzIuMSA0NjQuNCAzMDAuNEwyODMuNyA0NjkuMUMyNzYuMiA0NzYuMSAyNjYuMyA0ODAgMjU2IDQ4MEMyNDUuNyA0ODAgMjM1LjggNDc2LjEgMjI4LjMgNDY5LjFMNDcuNTkgMzAwLjRDMTcuMjMgMjcyLjEgLjAwMDMgMjMyLjQgLjAwMDMgMTkwLjlMMCAxOTAuOXoiLz48L3N2Zz4=);
  -moz-mask-size: 100% 100%;
}
.menu__titre__coeur:hover {
  background-repeat: no-repeat;
}
.menu h3 {
  padding-top: 0;
}
.menu h4 {
  text-transform: uppercase;
  height: 25px;
  font-weight: 100;
  position: relative;
}
.menu h4::after {
  content: "";
  width: 40px;
  border: 2px solid #eaeaea;
  position: absolute;
  top: 23px;
  left: 0px;
}
.menu__offre {
  background-color: #fff;
  border-radius: 30px;
  max-height: 100px;
  display: flex;
  overflow: hidden;
  align-items: center;
  position: relative;
  margin-bottom: 20px;
  animation: anim-offre 0.4s ease-out forwards;
  transform: translateY(30px);
  opacity: 0;
  /* Réduction de la largeur de la description */
}
.menu__offre--1 {
  animation-delay: 0.4s;
}
.menu__offre--2 {
  animation-delay: 0.8s;
}
.menu__offre--3 {
  animation-delay: 1.2s;
}
.menu__offre--4 {
  animation-delay: 1.6s;
}
.menu__offre__description {
  width: 70%;
  max-height: 115px;
  margin: 20px;
  transition: all 0.5s ease-in-out;
  margin: 0px, 0px, 0px, 0px;
}
.menu__offre__description p, .menu__offre__description h3 {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  direction: ltr;
}
.menu__offre__description p {
  font-family: "roboto-light";
  margin-bottom: 0;
}
.menu__offre__prix {
  margin: 20px;
  width: 20%;
  transform: translateX(100px);
  transition: all 0.5s ease-in-out;
  position: absolute;
  right: 100px;
  top: 22px;
  text-align: right;
}
.menu__offre__check {
  background-color: #eaeaea;
  width: 100px;
  height: 100%;
  transform: translateX(100px);
  transition: all 0.5s ease-in-out;
  position: absolute;
  top: 0px;
  right: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu__offre__check i {
  color: #eaeaea;
  background-color: #fff;
  padding: 10px;
  border-radius: 100px;
  transition: all 0.5s ease-in-out;
  transform: rotate(180deg);
}
.menu__offre:hover .menu__offre__description {
  width: calc(70% - 100px);
}
.menu__offre:hover .menu__offre__check {
  transform: translateX(0);
}
.menu__offre:hover .menu__offre__check i {
  transform: rotate(0deg);
}
.menu__offre:hover .menu__offre__prix {
  transform: translateX(0);
}
@media screen and (min-width: 1140px) {
  .menu__groupe {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .menu__offre {
    width: 28%;
    min-width: 320px;
  }
  .menu__offre__description {
    width: 70%;
  }
  .menu h4 {
    width: 100px;
  }
}
.menu__btn {
  text-align: center;
}
.menu__btn__cmd {
  color: white;
  background: linear-gradient(175deg, #FF79DA, #9356DC);
  border-radius: 50px;
  margin-top: 20px;
  border: none;
  padding: 30px;
  cursor: pointer;
  font-size: larger;
  box-shadow: 5px 5px 5px #eaeaea;
  transition: all 0.5s ease-in-out;
}
.menu__btn__cmd:hover {
  transform: scale(1.15);
  opacity: 0.8;
  box-shadow: 10px 10px 10px #eaeaea;
}

/*# sourceMappingURL=style.css.map */
