.form {
    &__recherche {
        width: 100%;
        height: 100px;
        background-color: $color-tertiary;
        background: linear-gradient(to top, $color-tertiary, $color-tertiary 93%, #cfcfcf 99%);
        font-size: x-large;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 0px;
        & i {
            margin-right: 30px;
        }
    }
    &__btn {
        @include btn
    }
}

form div {
    background-color: $color-quartary;
    text-align: center;
    padding: 40px 40px 50px 40px;
    font-size: x-large;
}