h3 {
    margin: 0;
    padding-top: 20px;
}

.carte {
    background-color: $color-white;
    border-radius: 30px;
    height: 300px;
    margin-bottom: 27px;
    max-width: 500px;
    @include zoom;
    & a {
        text-decoration: none;
        color: black;
    }
    &__image {
        height: 200px;
        overflow: hidden;
        border-radius: 30px 30px 0px 0px;
        & img {
            max-width: 100%;
        }
    }
    &__infos {
        height: 100px;
        position: relative;
        padding-left: 3%;
        transition: all 1s;
        &__coeur {
            width: 40px;
            height: 40px;
            background-image: url(../icones/heart-regular.svg);
            background-repeat: no-repeat;
            position: absolute;
            right: 23px;
            top: 15%;
            @include coeur;
        }
    }
    
}