.fonctionnement {
    @include padding;
          
    &__fonction {
        padding: 20px;
        border-radius: 50px;
        font-size: x-large;
        margin-bottom: 20px;
        border: none;
        max-width: 655px;
        box-shadow: 5px 5px 10px $color-secondary;
        transition: all 0.5s ease-in-out;
        cursor: pointer;
        position: relative;
        @media screen and (min-width: 787px)
        /* Indication d'une largeur maximum pour les boutons "fonctions" */
        {
            margin: auto;
            margin-bottom: 20px;
            min-width: 655px;
        }
        & i {
            scale: 200%;
            color: gray;
            display: inline;
        }
        & p {
            background: $background_deg;
            color: $color-white;
            font-size: large;
            padding: 16px 22px 16px 22px;
            border-radius: 50px;
            margin-right: 10px;
            display: inline;
            position: absolute;
            left: -2%;
            top: -15%;
            @media screen and (max-width: 535px)
            {
                font-size: medium;
                padding: 12px 17px 12px 17px;
                top: -7%;
            }
        }
        & div {
            display: inline;
            margin-left: 15px;
            @media screen and (max-width: 535px)
            {
                font-size: medium;
            }
        }
        
        &:hover {
            transform: scale(1.15);
            opacity: 0.9;
            & i {
                color: $color-primary;
            }
        }

    }
}

.fonctionnement section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

