.fonctionnement {
    padding: 20px 65px 20px 65px;
          
    &__fonction {
        padding: 20px;
        border-radius: 50px;
        font-size: x-large;
        margin-bottom: 20px;
        border: none;
        max-width: 655px;
        box-shadow: 5px 5px 10px rgb(228, 216, 216);
        transition: all 0.5s ease-in-out;
        cursor: pointer;
        position: relative;
        @media screen and (min-width: 787px)
        /* Indication d'une largeur maximum pour les boutons "fonctions" */
        {
            margin: auto;
            margin-bottom: 20px;
            min-width: 655px;
        }
        & i {
            /* scale: 200%; */
            color: gray;
            display: inline;
        }
        &__num {
            display: block;
            background: $color-primary;
            color: $color-white;
            font-size: large;
            padding: 16px 22px 16px 22px;
            border-radius: 50px;
            margin-right: 10px;
            
            position: absolute;
            left: -2%;
            top: 8%;
            @media screen and (max-width: 535px)
            {
                font-size: medium;
                padding: 12px 17px 12px 17px;
                top: 16%;
            }
            @media screen and (max-width: 420px)
            {
                padding: 6px 10px 6px 10px;
                top: 22%;
            }
            @media screen and (max-width: 370px)
            {
                top: 30%;
            }
        }
        &__option {
            display: inline;
            margin-left: 15px;
            @media screen and (max-width: 535px)
            {
                font-size: medium;
            }
        }
        
        &:hover {
            transform: scale(1.15);
            opacity: 0.9;
            & i {
                color: $color-primary;
            }
        }

    }
}

.fonctionnement section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

