.top_photo {
    width: 100%;
    max-height: 300px;
    min-height: 300px;
    overflow: hidden;
        
    & img {
        width: 100%;
        height: 300px;
        object-fit: cover;
    }
}

main {
    background-color: $color-quartary;
}

@keyframes anim-offre {
    0% {
        transform: translateY(30px);
        opacity: 0.1;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

.menu {
    @include padding;
    border-radius: 50px 50px 0px 0px;
    background-color: $color-quartary;
    position: relative;
    top: -50px;
    &__titre {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        & h1 {
            font-family: 'Shrikhand-Regular', Arial, Helvetica, sans-serif;
        }    
        &__coeur {
            width: 30px;
            height: 30px;
            background-image: url(../icones/heart-regular.svg);
            background-repeat: no-repeat;
            background-position: center;
            position: absolute;
            right: 5%;
            top: 0%;
            /* Recadrage du coeur sur petite résolutions */
            @media screen and (max-width : 540px)
            {
                right: -1%;
            }
            @include coeur;
            &:hover {
                background-repeat: no-repeat;
            }    
        }
    }    
    & h3 {
        padding-top: 0;
    }
    & h4 {
        text-transform: uppercase;
        height: 25px;
        font-weight: 100;
        position: relative;
        &::after {
            content: "";
            width: 40px;
            border: 2px solid $color-tertiary;
            position: absolute;
            top: 23px;
            left: 0px;
        }
    }
    
    &__offre {
        background-color: $color-white;
        border-radius: 30px; 
        max-height: 100px;  
        display: flex;
        overflow: hidden;
        align-items: center;
        position: relative;
        margin-bottom: 20px;
        animation: anim-offre 0.4s ease-out forwards;
        transform: translateY(30px);
        opacity: 0;
        @for $i from 1 through 4 {
            &--#{$i} {
                animation-delay: 0.4s * $i;
            }
        }       
        &__description {
            width: 70%;
            max-height: 115px;
            @include margin_offre;
            transition: all 0.5s ease-in-out;
            margin: 0px, 0px, 0px, 0px;

            & p, h3 {               
                width: 100%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                direction: ltr;
            }
            & p {
                font-family: 'roboto-light';
                margin-bottom: 0;
            }
        }
        &__prix {
            @include margin_offre;
            width: 20%;
            transform: translateX(100px);
            transition: all 0.5s ease-in-out;
            position: absolute;
            right: 100px;
            top: 22px;
            text-align: right;
            
        }
        &__check {
            background-color: $color-tertiary;
            width: 100px;
            height: 100%;
            transform: translateX(100px);
            transition: all 0.5s ease-in-out;
            position: absolute;
            top: 0px;
            right: 0px;
            display: flex;
            justify-content: center;
            align-items: center;
            & i {
                color: $color-tertiary;
                background-color: $color-white;
                padding: 10px;
                border-radius: 100px;
                transition: all 0.5s ease-in-out;
                transform: rotate(180deg);
            }
        }
        /* Réduction de la largeur de la description */
        &:hover .menu__offre__description {
            width: calc(70% - 100px);
        }
        &:hover .menu__offre__check {
            transform: translateX(0);
            & i {
                transform: rotate(0deg);
            }
        }
        &:hover .menu__offre__prix {
            transform: translateX(0);
        }
    }
    @media screen and (min-width : 1140px)
    {
        &__groupe {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        &__offre {
            width: 28%;
            min-width: 320px;
            &__description {
                width: 70%;
            }
        }
        & h4 {
            width: 100px;
        }
    }
    &__btn {
        text-align: center;
        &__cmd {
            @include btn;
        }
    }
    
}







