.restaurants {
    padding: 20px 65px 20px 65px;
    background-color: $color-quartary;
    & section {
        display: flex;
        flex-direction: column;
        @media screen and (min-width : 560px)
        {
            justify-content: space-around;
            flex-direction: row;
            flex-wrap: wrap;
        }
    }
}