$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: rgb(153, 226, 208);
$color-quartary: #f6f6f6;
$color-white: #fff;
$color-black: black;
$background-deg: linear-gradient(175deg, $color-secondary, $color-primary);
