$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-quartary: #e6f4fa;
$color-white: #fff;
$color-black: black;
$background-deg: linear-gradient(175deg, $color-secondary, $color-primary);
